Repository krios-fu/ft_transcendence, pull requests merged in 2023-06, with the labels that each got.

#157 Handle player room exit
  backend/src/game/game.gateway.ts
  backend/src/game/game.recovery.service.ts
  backend/src/game/game.room.service.ts
  backend/src/game/game.socket.helper.ts
  backend/src/game/game.updateService.ts
  backend/src/game/interfaces/msg.interfaces.ts
  backend/src/game/interfaces/room.interfaces.ts
  frontend/src/app/game/elements/MenuHeroRenderer.ts
  frontend/src/app/game/elements/MenuRenderer.ts
  frontend/src/app/game/elements/MenuSelector.ts
  frontend/src/app/game/game.component.ts
  frontend/src/app/game/interfaces/scene.interfaces.ts
  frontend/src/app/game/scenes/BaseScene.ts
  frontend/src/app/game/scenes/EndScene.ts
  frontend/src/app/game/scenes/MatchScene.ts
  frontend/src/app/game/scenes/MenuHeroScene.ts
  frontend/src/app/game/scenes/MenuScene.ts
  frontend/src/app/game/scenes/StartScene.ts
  frontend/src/app/game/services/recovery.service.ts
Labels: enhancement, backend, frontend

#173 168 redirección a settings tras el primer registro en la app
  backend/src/auth/auth.service.ts
  backend/src/common/interfaces/request-payload.interface.ts
  frontend/src/app/interfaces/iauth-payload.interface.ts
  frontend/src/app/services/auth.service.ts
  frontend/src/environments/environment.ts
Labels: backend

#178 Fix role check for left/right menu player input
  frontend/src/app/game/elements/MenuSelector.ts
  frontend/src/app/game/scenes/MenuHeroScene.ts
Labels: bug, frontend

#182 Add room unregister button functionality
  frontend/src/app/game/room-game-id/room-game-id.component.ts
  frontend/src/app/game/room-game-id/room-game-id.service.ts
  frontend/src/app/interfaces/IUserRoom.interface.ts
Labels: enhancement, backend, frontend

#167 Seed the database
  add-achievements.sh
  backend/migrations/1685985867179-base.ts
  backend/migrations/1685987394036-init_achievements.ts
  backend/migrations/1686412674045-init_users.ts
  backend/migrations/1686417455407-init_rooms.ts
  backend/migrations/1686493785757-init_roles.ts
  backend/migrations/1686496939782-init_user_roles.ts
  backend/migrations/1686498635446-init_room_roles.ts
  backend/nest-cli.json
  backend/package.json
  backend/src/achievements/entity/achievement.entity.ts
  backend/src/achievements_user/entity/achievement_user.entity.ts
  backend/src/app.module.ts
  backend/src/chat/entities/chat-message.entity.ts
  backend/src/chat/entities/chat-user.entity.ts
  backend/src/roles/entity/roles.entity.ts
  backend/src/room/entity/room.entity.ts
  backend/src/user/entities/user.entity.ts
  backend/src/user_room/entity/user_room.entity.ts
  backend/src/user_room_roles/entity/user_room_roles.entity.ts
  backend/typeorm.config.ts
Labels: enhancement, backend

#185 Restrict hero invocation to once per point
  backend/src/game/elements/Game.ts
  backend/src/game/elements/Hero.ts
  frontend/src/app/game/services/lag-compensation.service.ts
Labels: enhancement, backend, frontend

#186 Ajuste dimensiones ventana de juego
  frontend/src/app/game/room-game-id/room-game-id.component.html
  frontend/src/app/game/room-game-id/room-game-id.component.scss
Labels: enhancement, frontend

#187 Add game instructions
  frontend/src/app/game/room-game-id/room-game-id.component.ts
  frontend/src/app/services/alert.service.ts
  frontend/src/app/services/dialog/info/game-instructions/game-instructions.component.html
Labels: enhancement, frontend

#176 Remove previous avatar on upload
  README.md
  backend/src/common/constants/static-dir.const.ts
  backend/src/user/services/user.service.ts
  backend/src/user/user.controller.ts
Labels: enhancement, backend

#172 [DRAFT] Role-based auth en ws
  TODO.md
  add-friendship.sh
  add-room-user.sh
  add-room.sh
  add-user.sh
  backend/package-lock.json
  backend/package.json
  backend/src/auth/auth.service.ts
  backend/src/auth/strategy/jwt.strategy.ts
  backend/src/auth/strategy/two-factor.strategy.ts
  backend/src/ban/ban.controller.ts
  backend/src/ban/ban.service.ts
  backend/src/ban/entity/ban.entity.ts
  backend/src/common/classes/banned.exception.ts
  backend/src/common/decorators/allowed-roles.decorator.ts
  backend/src/common/decorators/forbidden.roles.decorator.ts
  backend/src/common/decorators/required.roles.decorator.ts
  backend/src/common/events/update.role.event.ts
  backend/src/common/filters/banned.filter.ts
  backend/src/common/filters/not-validated.filter.ts
  backend/src/common/guards/room-mod.guard.ts
  backend/src/game/exceptions/game.wsException.ts
  backend/src/game/exceptions/internalServerError.wsException.ts
  backend/src/game/game.gateway.ts
  backend/src/game/game.matchmaking.service.ts
  backend/src/game/game.module.ts
  backend/src/game/game.room.service.ts
  backend/src/game/game.socket.helper.ts
  backend/src/game/game.socketAuth.service.ts
  backend/src/game/guards/game.auth.guard.ts
  backend/src/game/guards/game.roles.guard.ts
  backend/src/game/guards/game.room.guard.ts
  backend/src/game/guards/global.roles.guard.ts
  backend/src/main.ts
  backend/src/room/room.gateway.ts
  backend/src/room/room.module.ts
  backend/src/user/entities/user.entity.ts
  backend/src/user_roles/user_roles.controller.ts
  backend/src/user_roles/user_roles.module.ts
  backend/src/user_roles/user_roles.service.ts
  backend/src/user_room/user_room.controller.ts
  backend/src/user_room/user_room.service.ts
  backend/src/user_room_roles/user_room_roles.controller.ts
  backend/src/user_room_roles/user_room_roles.service.ts
  default-avatar.jpeg
  frontend/config/nginx.conf
  frontend/src/app/app-routing.module.ts
  frontend/src/app/app.component.ts
  frontend/src/app/app.module.ts
  frontend/src/app/game/game-routing.module.ts
  frontend/src/app/game/room-game-id/room-game-id.component.ts
  frontend/src/app/game/services/socket.service.ts
  frontend/src/app/http-interceptors/auth.interceptor.ts
  frontend/src/app/services/auth.service.ts
  frontend/src/environments/environment.ts
  poc.py
  postgres_sandbox.sh
Labels: backend

#190 Add missing room roles and users to seed db
  backend/migrations/1687618260396-init_user_room.ts
  backend/migrations/1687693389363-init_user_room_roles.ts
Labels: enhancement, backend

#191 Add initial user and room images
  .gitignore
  backend/static/rooms/atlantis.png
  backend/static/rooms/metropolis.png
  backend/static/rooms/wakanda.png
  backend/static/users/danrodri.jpg
  backend/static/users/krios-fu.jpeg
  backend/static/users/onapoli-.jpeg
Labels: enhancement, backend

#192 Backend password policy
  backend/src/room/dto/room.dto.ts
  backend/src/room_roles/dto/room_roles.dto.ts
  backend/src/user_room/dto/user_room.dto.ts
  frontend/src/app/game/room-game-id/room-game-id.component.ts
  frontend/src/app/game/room-game-id/room-game-id.service.ts
  frontend/src/app/game/room-list/room-list.component.ts
  frontend/src/app/game/room-list/room-list.service.ts
  frontend/src/app/services/alert.service.ts
  frontend/src/app/services/dialog/input/change_room_password/change-room-password-input.component.html
  frontend/src/app/services/dialog/input/change_room_password/change-room-password-input.component.scss
  frontend/src/app/services/dialog/input/change_room_password/change-room-password-input.component.ts
Labels: enhancement, backend, frontend
